<div class="wraper">
    <div class="row">
        <div class="col-md-10 add-card">
            <div class="card-body">
                <div class="row">

                  <div class="form-group col-md-12">
                      <label><b>New Itinerary</b></label>
                      <form [formGroup]="itineraryForm" class="row">
                          <div class="form-group col-md-6">
                              <label>Title</label>
                              <input class="form-control"  id="title" formControlName="title" type="text"  placeholder="Enter Title"> 
                          </div>
                          <div class="form-group col-md-6">
                              <label>Client</label>
                              <input class="form-control"  id="client" formControlName="client" type="text"  placeholder="Enter Client name"> 
                          </div>
                          <div class="form-group col-md-6">
                            <label>Client Email</label>
                            <input class="form-control"  id="email" formControlName="email" type="email"  placeholder="Enter Client email"> 
                        </div>
                          <div class="form-group col-md-6">
                              <label>No of people</label>
                              <input class="form-control"  id="people" formControlName="people" type="number"> 
                          </div>
                          <div class="form-group col-md-6">
                              <label for="name">Contact Person</label>
                              <select class="form-control"  formControlName="contact">
                                <option *ngFor="let contact of contacts; let i = index" value="{{contact.id}}">{{contact.name}}</option>
                              </select>
                          </div>
                          <div class="form-group col-md-6">
                              <label>Mark up (%)</label>
                              <input class="form-control"  id="people" formControlName="markup" type="number"> 
                          </div>
                          <div class="form-group col-md-6">
                              <label for="name">Country</label>
                              <select class="form-control " formControlName="country">
                                <option *ngFor="let country of countries; let i = index" value="{{country.id}}">{{country.name}}</option>
                              </select>
                          </div>
                      </form>
                      <div class="spinner-border text-success" role="status" *ngIf="isLoading">
                        <span class="sr-only">Loading...</span>
                      </div>
                      <button class="btn btn-lg btn-success" *ngIf="!isLoading" (click)="addItinerary(itineraryForm.value)">Save</button>
                      <!-- <input class="form-control"  id="username" formControlName="username" type="text"  placeholder="Enter Username"> -->
                    </div>
                  </div>
              </div>
        </div>

    </div>
          
</div>
