<div class="wraper">
    <h1 class="trip-title">Don't miss out</h1>
    <p class="intro-txt">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi nesciunt obcaecati ea tempora voluptate.</p>
    <div class="row padding-row">
        <div class="col-md-4 intro-desc">
            <div class="card" >
                <img class="card-img-top" src="assets/tour.jpg" alt="Card image cap">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-3">
                            <h1 class="green-txt">14</h1>
                            <h3>Feb</h3>
                            <h3 class="grey-txt">2020</h3>
                        </div>
                        <div class="col-md-9">
                            <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <div class="row">
                                <div class="col-md-4">
                                    <p class="grey-txt">
                                    <i class="fa fa-map-marker" aria-hidden="true"></i> Rusizi
                                    </p>
                                </div>
                                <div class="col-md-8">
                                    <p>
                                    <a href="trip-details" class="green-txt trip-link">LEARN MORE</a>
                                    </p>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                        
                </div>
            </div>
        </div>
        <div class="col-md-4 intro-desc">
            <div class="card" >
                <img class="card-img-top" src="assets/tour.jpg" alt="Card image cap">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-3">
                            <h1 class="green-txt">14</h1>
                            <h3>Feb</h3>
                            <h3 class="grey-txt">2020</h3>
                        </div>
                        <div class="col-md-9">
                            <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <div class="row">
                                <div class="col-md-4">
                                    <p class="grey-txt">
                                    <i class="fa fa-map-marker" aria-hidden="true"></i> Rusizi
                                    </p>
                                </div>
                                <div class="col-md-8">
                                    <p>
                                    <a href="" class="green-txt trip-link">LEARN MORE</a>
                                    </p>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                        
                </div>
            </div>
        </div>
        <div class="col-md-4 intro-desc">
            <div class="card" >
                <img class="card-img-top" src="assets/tour.jpg" alt="Card image cap">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-3">
                            <h1 class="green-txt">14</h1>
                            <h3>Feb</h3>
                            <h3 class="grey-txt">2020</h3>
                        </div>
                        <div class="col-md-9">
                            <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <div class="row">
                                <div class="col-md-4">
                                    <p class="grey-txt">
                                    <i class="fa fa-map-marker" aria-hidden="true"></i> Rusizi
                                    </p>
                                </div>
                                <div class="col-md-8">
                                    <p>
                                    <a href="" class="green-txt trip-link">LEARN MORE</a>
                                    </p>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                        
                </div>
            </div>
        </div>
        <div class="col-md-4 intro-desc">
            <div class="card" >
                <img class="card-img-top" src="assets/tour.jpg" alt="Card image cap">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-3">
                            <h1 class="green-txt">14</h1>
                            <h3>Feb</h3>
                            <h3 class="grey-txt">2020</h3>
                        </div>
                        <div class="col-md-9">
                            <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <div class="row">
                                <div class="col-md-4">
                                    <p class="grey-txt">
                                    <i class="fa fa-map-marker" aria-hidden="true"></i> Rusizi
                                    </p>
                                </div>
                                <div class="col-md-8">
                                    <p>
                                    <a href="trip-details" class="green-txt trip-link">LEARN MORE</a>
                                    </p>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                        
                </div>
            </div>
        </div>
        <div class="col-md-4 intro-desc">
            <div class="card" >
                <img class="card-img-top" src="assets/tour.jpg" alt="Card image cap">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-3">
                            <h1 class="green-txt">14</h1>
                            <h3>Feb</h3>
                            <h3 class="grey-txt">2020</h3>
                        </div>
                        <div class="col-md-9">
                            <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <div class="row">
                                <div class="col-md-4">
                                    <p class="grey-txt">
                                    <i class="fa fa-map-marker" aria-hidden="true"></i> Rusizi
                                    </p>
                                </div>
                                <div class="col-md-8">
                                    <p>
                                    <a href="trip-details" class="green-txt trip-link">LEARN MORE</a>
                                    </p>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                        
                </div>
            </div>
        </div>
        <div class="col-md-4 intro-desc">
            <div class="card" >
                <img class="card-img-top" src="assets/tour.jpg" alt="Card image cap">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-3">
                            <h1 class="green-txt">14</h1>
                            <h3>Feb</h3>
                            <h3 class="grey-txt">2020</h3>
                        </div>
                        <div class="col-md-9">
                            <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <div class="row">
                                <div class="col-md-4">
                                    <p class="grey-txt">
                                    <i class="fa fa-map-marker" aria-hidden="true"></i> Rusizi
                                    </p>
                                </div>
                                <div class="col-md-8">
                                    <p>
                                    <a href="trip-details" class="green-txt trip-link">LEARN MORE</a>
                                    </p>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                        
                </div>
            </div>
        </div>
    </div>
</div>
