<div class="wraper">
    <h1 class="title">Affordable Prices</h1>
    <p class="intro-txt">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi nesciunt obcaecati ea tempora voluptate.</p>
    <div class="row padding-row">
        <div class="col-md-4 intro-desc">
            <div class="card" >
                
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-3">
                            <h1 class="green-txt">$ 35</h1>
                            
                        </div>
                        <div class="col-md-9">
                            <p><b>Monthly Package</b></p>
                            <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <div class="row">
                               
                                <div class="col-md-8">
                                    <p>
                                    <a href="trip-details" class="green-txt link">REGISTER</a>
                                    </p>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                        
                </div>
            </div>
        </div>
        <div class="col-md-4 intro-desc">
            <div class="card" >
                
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-3">
                            <h1 class="green-txt">$ 420</h1>
                            
                        </div>
                        <div class="col-md-9">
                            <p><b>Quaterly Package</b></p>
                            <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <div class="row">
                               
                                <div class="col-md-8">
                                    <p>
                                    <a href="" class="green-txt link">REGISTER</a>
                                    </p>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                        
                </div>
            </div>
        </div>
        <div class="col-md-4 intro-desc">
            <div class="card" >
                
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-3">
                            <h1 class="green-txt">$ 420</h1>
                            
                        </div>
                        <div class="col-md-9">
                            <p><b>Yearly Package</b></p>
                            <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <div class="row">
                               
                                <div class="col-md-8">
                                    <p>
                                    <a href="" class="green-txt link">REGISTER</a>
                                    </p>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                        
                </div>
            </div>
        </div>
      
    </div>
</div>
