.wraper{
    margin-top: 120px !important;
}
.padding-row{
    width: 90%;
    margin-top: 6% !important;
    margin-bottom: 8% !important;
    margin: auto;
}
.card{
    border-radius: 20px !important; 
    box-shadow: 4px 0 20px -5px rgba(0,0,0,.3)!important;
    margin-bottom: 10%;
}

.link{
    font-weight: 700;
    text-decoration: none;
}
.link:hover{
    color: #2BBC84;
}
.title{
    text-align: center;
    font-weight: 700;
    color: black;
} 
.intro-txt{
    text-align: center;
    }