
<div class="row top-row">
    <div class="col-md-12 head">
        <div class="info-card" >
            <div class="card-body">
                <div class="logo">
                    <img class="img-fluid" src="{{itinerary?.host?.logo}}" alt="">
                </div>
                <h1>{{itinerary?.host?.name}}</h1>
                <p><b> Contact Person </b></p>
                <p>{{itinerary?.host_contact?.name}}</p>
                <p>(+250) {{itinerary?.host_contact?.phone}}</p>
                <p>{{itinerary?.host_contact?.email}}</p>
                <p> <a href="{{itinerary?.host?.website}}" target="_blank" class="itinerary-website"> {{itinerary?.host?.website}}</a></p>
            </div>
        </div>
    </div>
</div>

<div class="nav">
    
    <a class="nav-item nav-link active" id="nav-daily-tab" data-toggle="tab" href="#nav-daily" role="tab" aria-controls="nav-daily" aria-selected="false"><h2>Daily Information</h2></a>
    <a class="nav-item nav-link" id="nav-info-tab" data-toggle="tab" href="#nav-info" role="tab" aria-controls="nav-info" aria-selected="false"><h2>Information</h2></a>
    <a class="nav-item nav-link" id="nav-map-tab" data-toggle="tab" href="#nav-map" role="tab" aria-controls="nav-map" aria-selected="false"><h2>Map</h2></a>

</div>
      
  <div class="tab-content top-row" id="nav-tabContent">
   
    <div class="tab-pane fade show active" id="nav-daily" role="tabpanel" aria-labelledby="nav-daily-tab">
        <div class="daily"></div>
        <div class="info-container">
            <div class="row" >
                <div class="col-3">
                  <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    <a class="nav-link active" id="v-pills-overview-tab" data-toggle="pill" href="#overview" role="tab" aria-controls="overview" aria-selected="true">
                        <p>Overview</p> 
                         
                    </a>
                    <a *ngFor="let day of itinerary.days; let i = index" class="nav-link" id="v-pills-day-tab" data-toggle="pill" href="#day{{day.number}}" role="tab"  aria-selected="false">
                        <p>{{day.date}} Day {{day.number}}</p>
                        <h5>{{day.title}}</h5>
                    </a>
                  </div>
                </div>
                <div class="col-9">
                  <div class="tab-content">
                    <div class="tab-pane fade show active" id="overview" role="tabpanel" aria-labelledby="v-pills-overview-tab">
                        <h3 class="data-title">{{itinerary.title}}</h3>
                        <p>Number of people: {{itinerary.people}}</p>
                        <p>Total cost: <b>{{itinerary.total | number}} $</b></p>
                        
                    </div>

                    <div *ngFor="let day of itinerary.days; let i = index" class="tab-pane fade" id="day{{day.number}}" role="tabpanel" aria-labelledby="v-pills-day-tab">
                        <h3 class="data-title">Accomodation</h3>
                        <div class="inner-data" *ngFor="let accomodation of day.accomodations; let i = index">
                            <div class="row">
                                <div class="col-md-6">
                                    <a *ngFor="let accomodation of day.accomodations; let i = index" [routerLink]="['/accommodation-details', day.acpic[i].id]">
                                        <img class="data-img" src="{{day.acpic[i].picture}}" alt="">
                                    </a>
                                </div>
                                <div class="col-md-6">
                                   <h3>{{accomodation.name}}</h3>
                                   <p>Room Type: {{accomodation.room}}</p>
                                   <p>Board Basis: {{accomodation.board}}</p>
                                   <p>No of Nights: {{accomodation.nights}}</p>
                                   <p>Checkin: {{accomodation.checkin}}</p>
                                   <p>Checkout: {{accomodation.checkout}}</p>
                                </div>
                            </div>
                           
                        </div>

                        <h3 class="data-title">Destination</h3>
                        <div class="inner-data" *ngFor="let destination of day.destinations; let i = index">
                            <div class="row">
                                <div class="col-md-6">
                                    <a *ngFor="let destination of day.destinations; let i = index" [routerLink]="['/destination-details', day.despic[i].id]">
                                        <img class="data-img" src="{{day.despic[i].picture}}" alt="">
                                    </a>
                                </div>
                                <div class="col-md-6">
                                   <h3>{{destination.name}}</h3>
                                   <p class="grey-txt">
                                    <i class="fa fa-map-marker" aria-hidden="true"></i> {{destination.location}}
                                    </p>
                                   <p>Distance: {{destination.distance}} KM</p>
                                   <p>Duration of Travel: {{destination.duration}} hrs</p>
                                   <p>Pickup Time: {{destination.pickup}}</p>
                                   
                                </div>
                            </div>
                           
                        </div>

                        <h3 class="data-title">Summary</h3>
                        <p class="summary">
                            {{day.summary}}
                        </p>
                    </div>
                    <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">...</div>
                    <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">...</div>
                  </div>
                </div>
              </div>

        </div>

        <div class="row includes-container">
            <div class="col-md-6 includes-card">
                <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">Included</h5>
                      <ul *ngFor="let include of itinerary.includes;">
                          <li>{{include.description}}</li>
                      </ul>
                    </div>
                  </div>
            </div>
            <div class="col-md-6 includes-card">
                <div class="card excluded">
                    <div class="card-body">
                      <h5 class="card-title">Excluded</h5>
                      <ul *ngFor="let exclude of itinerary.excludes;">
                        <li>{{exclude.description}}</li>
                      </ul>
                    </div>
                  </div>
            </div>
        </div>
              
    </div>
    <div class="tab-pane fade" id="nav-info" role="tabpanel" aria-labelledby="nav-info-tab">
        <div class="info"></div>
        <div class="info-container">
            <b>Currency</b>
            <p>
                {{itinerary.host_country.currency}}
            </p>

            <b>Weather</b>
            <p>
               {{itinerary.host_country.weather}}
            </p>

            <b>Food</b>
            <p>
                {{itinerary.host_country.food}}
            </p>

            <b>Culture</b>
            <p>
                {{itinerary.host_country.culture}}
            </p>
        </div>
    </div>
    <div class="tab-pane fade" id="nav-map" role="tabpanel" aria-labelledby="nav-map-tab">
        <div class="map"></div>
        <div class="info-container">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d15950.035237767692!2d30.101183149999997!3d-1.9495843499999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2srw!4v1603964985040!5m2!1sen!2srw" 
            width="100%" height="550" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        </div>
    </div>
  </div>
