<div class="card" style="margin-top: 90px;">
    <div class="card-body">
      <div class="row">
        <div class="form-group col-md-12">
           <h4 *ngIf="!edit"  class="card-title" >Add services</h4>
           <h4  *ngIf="edit" class="card-title" >Edit service</h4>
          </div>
           <div class="form-group col-md-6">
            <div class="alert alert-secondary" role="alert" *ngIf="message">
               {{message}}
             </div>
           </div>
        <div class="form-group col-md-12">

          <form class="row" [formGroup]="addServiceForm">
            <div class="form-group col-md-4" >
              <label >Service Name</label>
              <input type="text" class="form-control rounded" formControlName="service"  placeholder="service name"/>
            </div>
            <div class="form-group col-md-4" >
              <label >Price</label>
              <input type="number" class="form-control rounded" formControlName="price"  placeholder="Enter Price"/>
            </div>
            <div class="form-group col-md-12">
              <div class="spinner-border text-success" role="status" *ngIf="isLoading">
                <span class="sr-only">Loading...</span>
              </div>
              <button type="submit" class="btn btn-lg btn-success" *ngIf="!edit && !isLoading" (click)="addService(addServiceForm.value)" >Add</button>
              <button  class="btn btn-lg btn-success" *ngIf="edit && !isLoading" (click)="editService()">Update</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>




<div class="card" style="margin-top: 15px;">
    <div class="form-group col-md-12">
      <p class="total_counts">Services</p>
    </div>
    <div class="card-body" *ngIf="errormessage">
      <h4 style="color:red;"><small>{{errormessage}}</small></h4>
  </div>
    <div class="car-body table-responsive">
      
        <table class="table table-borderless table-hover">
            <thead>
              <tr>
                <th scope="col">Service</th>
                <th scope="col">Price</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let service of services;">
              
                <td>{{service.service}} </td>
                <td> ${{service.price}}</td>
                <td>
                  <button class="btn btn-success" (click)="openEditor(service)" >edit</button><!--  |
                 <button data-target="#myModal"  class="btn btn-lg btn-danger" data-toggle="modal" (click)="openDelete(service.id,service.service)">Delete</button>-->
                  <div id="myModal" class="modal fade" tabindex="-1">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title">Delete</h5>
                          <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body">
                          <p>Do you want to delete?</p>{{delete_service}}
                          <p class="text-secondary"><small>Hope you know what are you doing.</small></p>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                         <button type="button" class="btn btn-danger" (click)="delete('service', delete_id )" data-dismiss="modal">Yes</button>
                        </div>
                      </div>
                   </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
      </div>
</div>