<div class="wraper">
    <div class="row">
        <div class="col-md-10 add-card">
            <div class="card-body">
                <div class="row">

                    <div class="form-group col-md-12">
                        <label for="username"><b> Destinations</b></label>
                        <form class="row" [formGroup]="destinationsForm">
                            <div class="form-group col-md-4">
                                <label>Name</label>
                                <select class="form-control " formControlName="name">
                                  <option *ngFor="let destination of destinations; let i = index" value="{{destination.name}}">{{destination.name}}</option>
                                </select>
                            </div>
                            <div class="form-group col-md-4">
                                <label for="name">Location</label>
                                <select class="form-control " formControlName="location" > 
                                    <option>Rusizi</option>
                                    <option>Gisenyi</option>
                                </select>
                            </div>
                            <div class="form-group col-md-4">
                                <label for="name">Distance (KM)</label>
                                <input type="number" class="form-control" formControlName="distance">
                            </div>
                            <div class="form-group col-md-4">
                                <label for="name">Duration of travel (hrs)</label>
                                <input type="number" class="form-control" formControlName="duration">
                            </div>
                            <div class="form-group col-md-4">
                                <label for="name">Pickup</label>
                                <input type="date" class="form-control" formControlName="pickup">
                            </div>
                            <div class="form-group col-md-4">
                                <label>Service</label>
                                <select class="form-control " formControlName="service">
                                  <option *ngFor="let service of services; let i = index" value="{{service.id}}">{{service.service}}</option>
                                </select>
                            </div>
                            
                        </form>
                        <div class="spinner-border text-success" role="status" *ngIf="isLoading">
                            <span class="sr-only">Loading...</span>
                          </div>
                        <!-- <input class="form-control"  id="username" formControlName="username" type="text"  placeholder="Enter Username"> -->
                          <button *ngIf="!passed_destination && !isLoading" class="btn btn-success" (click)="addDestination(destinationsForm.value)">+</button>
                         
                      </div>


                </div>
                <button *ngIf="!passed_itinerary && !isLoading" class="btn btn-success next"  (click)="next()">Add new day</button>
                <button *ngIf="!passed_itinerary && !isLoading" class="btn btn-success next"  (click)="preview()">Preview Itinerary</button>
                <button *ngIf="passed_destination && !isLoading" class="btn btn-success next"  (click)="save(passed_destination.id)">Save</button>
                <button *ngIf="passed_itinerary && !passed_destination && !isLoading" class="btn btn-success next"  (click)="newSave()">Save</button>
              </div>
              <p><b>Added Destinations</b></p>
              <div class="form-group col-md-12" *ngIf="dailydestinations">
                  <div *ngFor="let destination of dailydestinations; let i=index">
                      <p>Name: <b>{{destination.name}}</b></p>
                      <p>Location:{{destination.location}}</p>
                  </div>
                  
              </div>
        </div>

    </div>
          
</div>
