.top-row{
    margin-top: 40px !important;
    width: 95%;
    margin: auto;
}
.rounded{
    width: 97% !important;
    border-radius: 20px !important;
}
.img-circle{
    width: 100px;
    height: 100px;
    border-radius: 100%;
    float: left;
}
.lable{
    float: left;
    margin-top: 30px;
    
}

hr{
    width:80px;
    height: 2px;
    background-color:  #2BBC84;
    float: left;
    margin-top: 80px;
   
}
.nav-item{
    width: 60%;
    margin: auto;
    margin: 0px auto;
   
}
.nav-link{
    color: black !important;
}
.lable-desc{
    margin-left: 17px;
}
.label-container{
    width: 100%;
    height: auto;
    border: 1px solid #2BBC84;
    border-radius: 10px;
    margin-bottom: 40px;
    padding: 30px;
}
.info-container{
    width: 100%;
    height: auto;
    border: 1px solid #2BBC84;
    margin-bottom: 40px;
    padding: 30px; 
    border-radius: 20px !important; 
    box-shadow: 4px 0 20px -5px rgba(0,0,0,.3)!important;
    

}

.includes-container{
    width: 100%;
    margin-left: 0%;
}

ul{
    margin-left: 30px;
}
.card{
    border-radius: 20px !important; 
    box-shadow: 4px 0 20px -5px rgba(0,0,0,.3)!important;
    margin-bottom: 1%;
    width: 100%;

}

.inner-data{
    width: 100%;
    height: auto;
    border: 1px solid #2BBC84;
    margin-bottom: 40px;
    padding: 20px; 
    border-radius: 20px !important; 
   
}
.data-img{
    width: 90%;
    height: 200px;  
}

.data-title{
    text-align: center;
    margin-bottom: 10px;
}
.nav-link:focus{
    background-color: #2BBC84 !important;
    color: white !important;
    border-radius: 5px;
}
.nav-link.active{
    background-color: #2BBC84 !important;
    color: white !important;
    border-radius: 5px;

}

.info-card{
    width:30%;
    background-color:white !important;
    border-radius: 20px !important; 
    margin-top: 1%;

 
}
.head{
    width: 100%;
    height: 500px;
    background-image: url(https://d3hne3c382ip58.cloudfront.net/files/uploads/bookmundi/resized/countrybanner/travelling-in-rwanda-tours-and-vacation-packages-1503894676-1920X700.jpg);
    border-radius: 10px !important; 
    margin-bottom: 1%;
    box-shadow: 4px 0 20px -5px rgba(0,0,0,.3)!important;

}
.logo{
    width: 100px;
    height: 100px;
}

.navbar{
    background-color:white !important;
}

.btn-toggler{
    border: none;
}

.active-day {
    margin-top: 3%;
    margin-left: 7%;
    background-color: #2BBC84 !important;
    color: white !important;
    border-radius: 5px;
}

.itinerary-website {
    color: black;
}

@media(max-width: 1024px){
    .info-card{
        width:50%;
        background-color:white !important;
        border-radius: 20px !important;
    }

    .card-body{
        font-size: 25px;
    }

    .nav{
        width: 70%;
        font-family: Montserrat;
    }

    .daily-content{
        font-size: 25px;
    }

    .includes-container{
        font-size: 25px;
    }
}

@media(max-width: 780px){
    .nav{
        width: 85%;
    }
}

@media(max-width: 430px){
    .info-card{
        width:100%;
        background-color:white !important;
        border-radius: 20px !important; 
        margin-top: 18%;
    }

    .card-body{
        font-size: 17px;
    }

    .middle-nav{
        width: 40%;
        margin-top: 3%;
    }

    .nav-link h2{
        font-family: Montserrat;
        font-size: 17px;
    }

    .date-nave{
        margin-right: -20%;
        width:200%;
    }

    .includes-card{
        margin-top: 5%;
    }

    .daily-content{
        font-size: 15px;
    }

    .includes-container{
        font-size: 15px;
    }

    .navbar{
        display: flex;
        padding-bottom: 10px;
        width: 100% !important;
    }
}
