<div class="row top-row">
    <div class="col-md-12 head">
        <div class="info-card" >
            <div class="card-body">
                <div class="logo">
                    <img class="img-fluid" src="{{itinerary.host.logo}}" alt="">
                </div>

                <h1>{{itinerary.host.name}}</h1>
                <p><b> Contact Person </b></p>
                <p>{{itinerary.host_contact.name}}</p>
                <p>(+250) {{itinerary.host_contact.phone}}</p>
                <p>{{itinerary.host_contact.email}}</p>
                <p> <a href="{{itinerary.host.website}}" target="_blank" class="itinerary-website"> {{itinerary.host.website}}</a></p>
            </div>
        </div>
    </div>  
</div>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler btn-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse nav justify-content-center" id="navbarNav">
        <a class="nav-item nav-link active" id="nav-daily-tab" data-toggle="tab" href="#nav-daily" role="tab" aria-controls="nav-daily" aria-selected="false"><h2>Daily Information</h2></a>
        <a class="nav-item nav-link" id="nav-info-tab" data-toggle="tab" href="#nav-info" role="tab" aria-controls="nav-info" aria-selected="false"><h2>Information</h2></a>
        <a class="nav-item nav-link" id="nav-map-tab" data-toggle="tab" href="#nav-map" role="tab" aria-controls="nav-map" aria-selected="false"><h2>Map</h2></a>
    </div>
</nav>
      
<div class="tab-content top-row" id="nav-tabContent">
   
    <div class="tab-pane fade show active" id="nav-daily" role="tabpanel" aria-labelledby="nav-daily-tab">
        <div class="info-container daily-content">
            <div class="row">
                <div class="col-6">
                    <div class="nav date-nave flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                      <a *ngFor="let day of itinerary.days; let i = index" class="nav-link active-day" id="v-pills-day-tab" href="daily-information#day{{day.number}}" role="tab"  aria-selected="false">
                        <p>{{day.date}} Day {{day.number}}</p>
                        <h5>{{day.title}}</h5>
                         
                    </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row includes-container">
            <div class="col-md-6 includes-card">
                <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">Included</h5>
                      <ul *ngFor="let include of itinerary.includes;">
                        <li>{{include.description}}</li>
                      </ul>
                    </div>
                  </div>
            </div>
            <div class="col-md-6 includes-card">
                <div class="card excluded">
                    <div class="card-body">
                      <h5 class="card-title">Excluded</h5>
                      <ul *ngFor="let exclude of itinerary.excludes;">
                        <li>{{exclude.description}}</li>
                      </ul>
                    </div>
                  </div>
            </div>
        </div>
        
    </div>

    <div class="tab-pane fade" id="nav-info" role="tabpanel" aria-labelledby="nav-info-tab">
        <div class="info-container">
            <b>Currency</b>
            <p>
                {{itinerary.host_country.currency}}
            </p>

            <b>Weather</b>
            <p>
               {{itinerary.host_country.weather}}
            </p>

            <b>Food</b>
            <p>
                {{itinerary.host_country.food}}
            </p>

            <b>Culture</b>
            <p>
                {{itinerary.host_country.culture}}
            </p>
        </div>
    </div>

    <div class="tab-pane fade" id="nav-map" role="tabpanel" aria-labelledby="nav-map-tab">
        <div class="info-container">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d15950.035237767692!2d30.101183149999997!3d-1.9495843499999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2srw!4v1603964985040!5m2!1sen!2srw" 
            width="100%" height="550" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        </div>
    </div>
</div>
