<div class="row top-row">
    <div class="col-md-6">
        <img src="{{accomodation.picture}}" class="rounded" alt="...">
    </div>
    <div class="col-md-6">
        <h1 class="trip-title">{{accomodation.name}}</h1>
        <p class="grey-txt">
            <i class="fa fa-map-marker" aria-hidden="true"></i> {{accomodation.address}}
            </p>
        <div class="row top-sub-row">
            <div class="col-md-12">
                <p>{{accomodation.description}}</p>
            </div>
        </div>
        <a href="https://www.serenahotels.com/serenakigali/en/default.html" target="_blank"> <button type="button" class="btn btn-success btn-link">Learn more</button></a>
    </div>
</div>

<div class="padding-row explore">
    <h1 class="explore-title">Explore More</h1>
    <div class="row full-width">
        <div class="col-md-4 intro-desc">
            <div class="card">
                <div class="explore-img">
                    <img class="card-img-top" src="https://isafari.s3.amazonaws.com/system/image/148/large_Kigali_-_Main.jpg" alt="Card image cap" height="250">
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <p class="text-center">Accomodation</p>
                        </div>
                    </div>
                        
                </div>
            </div>
        </div>
        <div class="col-md-4 intro-desc">
            <div class="card" >
                <div class="explore-img">
                    <img class="card-img-top" src="https://www.wildernesstravel.com/images/hotels/africa/rwanda/kigali-serena-hotel/kigali-serena-hotel-04.jpg" alt="Card image cap" height="250">
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <p class="text-center">Dinning room</p>
                        </div>
                    </div> 
                </div>
            </div>
        </div>
        <div class="col-md-4 intro-desc">
            <div class="card" >
                <div class="explore-img">
                    <img class="card-img-top" src="https://exp.cdn-hotels.com/hotels/3000000/2230000/2221600/2221591/a9723947_z.jpg?impolicy=fcrop&w=500&h=333&q=high" alt="Card image cap" height="250">
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <p class="text-center">Other facilities</p>
                        </div>
                    </div>
                        
                </div>
            </div>
        </div>
    </div>
</div>
