<div class="top">
    <div class="row padding-row">
        <div class="col-md-6">
            <div class="intro-desc">
                <h1 class="padding-title">TuaSoft</h1>
                <p>TuaSoft introduces to you a digital platform with great itinerary creation, management services,
                     and additional resources for profit margin analysis. All this plus a capable stand by 
                     technical support team at an affordable cost.
                    We provide tools to tour companies, DMCs, as well as tourists.
                    We look forward to bringing pride to your decision of working with TuaSoft, by boosting your work through our
                     timely and efficient services.
                </p>
                <h3 class="our-services">Our Mission</h3>
                <p>To offer effecient, easy to use itinerary creation and management online services</p>
                <h3 class="our-services">Our Vision</h3>
                <p>To become the leading online tour management tool in Africa</p>
                
                <h3>We would love to here from you</h3>
                <p> <i class="fa fa-phone green-txt" aria-hidden="true"></i> <a href="tel:+250786684196">(+250) 786 684 196 </a></p>
                <p><i class="fa fa-envelope green-txt" aria-hidden="true"></i> <a href="mailto:team@tatizua.rw"> team@tatizua.rw </a></p>
            </div>
        </div>
        <div class="col-md-6 full-width">
           
            <img src="assets/glen.jpg" class="rounded" alt="...">
        </div>
    </div>
</div>
<div>
