.top{
    
    margin-top: 140px;
    margin-bottom: 60px;
}
.padding-row{
    width: 100%;
    margin-top: 40px;
}
.rounded{
    width: 97% !important;
    margin-left: 20px;
    border-radius: 20px !important;
}
.padding-title{
    
  
}
.intro-desc{
    padding-left: 60px;
    margin-bottom: 20px;
}

.col-md-6{
    width: 100%;
}
.fa{
   
    margin-right: 20px !important;
}
a{
    text-decoration: none !important;
    color: black !important;
}
a:hover{
    color:  #2BBC84 !important;
}
h3{
    margin-bottom: 30px;
}

ul,li {
    font-family: Montserrat;
}

.our-services{
    margin-top: 3%;
}