<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand logo" href="dashboard">
      <img src="assets/logowhite.png" class="img-fluid" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <button class="nav-link logout-navbar btn-success" (click)="logOut()"><span><i class="fa fa-sign-out menu-icon" aria-hidden="true"></i></span>Logout</button>
          
        </li>
        
      </ul>
    </div>
  </nav>
  <div class="row">
      <div class="col-md-2 " id="sidenav">
        <nav class="nav flex-column">
            <a class="white-txt " href="dashboard/reports"><i class="fa fa-bar-chart"></i>Reports</a>
            <a class="white-txt" href="dashboard/add-itinerary"><i class="fa fa-plus" aria-hidden="true"></i>Create Itinerary</a>
            <a class="white-txt" href="dashboard/itineraries"><i class="fa fa-list"></i>Itineraries</a>
            <a class="white-txt" href="dashboard/service"><i class="fa fa-gift" aria-hidden="true"></i>Services</a>
            <a class="white-txt" href="dashboard/profile"><i class="fa fa-user" aria-hidden="true"></i>Profile</a>
            <a class="white-txt" href="dashboard/add-contact"><i class="fa fa-phone" aria-hidden="true"></i>Contact</a>
            
          </nav>
      </div>
      <div class="col-md-10">
        <router-outlet></router-outlet>
      </div>
  </div>
  
