.navbar{
    background-color: #2BBC84 !important;
    display: flex;
    //box-shadow: 4px 0 20px -5px rgba(0,0,0,.5)!important;
    padding-bottom: 10px;
    position: fixed;
    width: 100% !important;
    top: 0 !important;
    z-index: 99;
    height: 80px;

  }
.logo{
    width: 100px;
    height: 30px;
    padding-bottom: 40px;
    width: 80px;
	margin: 10px 15px 10px 0;
    font-size: 20px;
}
.nav-link{
    color: white !important;
}

.nav{
    margin-top: 40px;
    background-color: #249e6f;
    width: 100%;
    height: 100%;
    padding-bottom: 640px;
    padding-top: 15%;
    padding-left: 15%;
   
}
.row{
    width: 100% !important;
    height: auto;
}
a.white-txt
{
font-size: 18px;
margin-top: 25px;
padding-left:15px;
height:30px;
font-family: Arial, Helvetica, sans-serif;
}


li > a
{
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
}

i{
    padding-right: 5px;
}


a.white-txt:hover
{
    border:1px solid white;
    padding-top: 5px;
    padding-left: 18px;
    height: 33px;
    padding-bottom: 8px;
    text-decoration: none;
    color: white;
    
}
.nav-link:hover
{
   
    padding-top: 5px;
    padding-left: 15px;
    text-decoration: none;
    color: white;

}


button .nav-link{
    color: white;
}

