<div class="wraper">
    <h1 class="title">Signup</h1>
    <div class="row padding-row">
        <div class="col-md-6 intro-desc">
            <div class="card" >
                
                <div class="card-body">
                    
                    <!-- <form [formGroup]="signupForm" (ngSubmit)="onSubmitlogin(signupForm.value)" class="row"> -->
                        <form
                        [formGroup]="signupForm"
                        (ngSubmit)="onSubmitSignup(signupForm.value)"
                        >
                        <div class="form-group col-md-12">
                            <label for="name">Company Name</label>
                            <input class="form-control"  id="name" formControlName="name" type="text">
                                <!-- <input type="text" class="form-control"> -->
                        </div>
                        <div class="form-group col-md-12">
                            <label for="email">Email</label>
                            <input class="form-control"  id="email" formControlName="email" type="text">
                              <!-- <input type="email" class="form-control"> -->
                          </div>
                          <div class="form-group col-md-12">
                            <label for="phone">Phone</label>
                            <input class="form-control"  id="phone" formControlName="phone" type="text">
                              <!-- <input type="text" class="form-control"> -->
                          </div>
                        <div class="form-group col-md-12">
                          <label for="logo">Logo</label>
                          <div class="row">
                            <div class="col-md-6">
                              <input type="text" class="form-control" id="logo" formControlName="logo" placeholder="Enter a webLink logo">
                            </div>
                            <div class="col-md-1">
                              <p>or</p>
                            </div>
                            <div class="col-md-5">
                              <input class="form-control"  id="logo" formControlName="logo" type="file">
                            </div>
                          </div>
                        </div>
                        <div class="form-group col-md-12">
                          <label for="website">Website</label>
                          <input class="form-control"  id="website" formControlName="website" type="text">
                            <!-- <input type="text" class="form-control"> -->
                        </div>
                        <div class="form-group col-md-12">
                          <label for="username">Username</label>
                          <input class="form-control"  id="username" formControlName="username" type="text">
                            <!-- <input type="text" class="form-control"> -->
                        </div>
                        <div class="form-group col-md-12">
                            <label for="password">Password</label>
                            <input class="form-control"  id="password" formControlName="password" type="password">
                            <!-- <input type="text" class="form-control"> -->
                          </div>
                          
                          <div class="form-group col-md-6">
                            <!-- <div class="spinner-border text-primary" role="status" *ngIf="isLoading">
                              <span class="sr-only">Loading...</span>
                            </div> -->
                            <!-- <button class="btn btn-lg btn-success">Signup</button> -->
                            <button type="submit" class="btn btn-lg btn-success" (click)="signUp()" *ngIf="!isLoading">Signup</button>
                          </div>
                        
                      </form>
                      
                        
                </div>
            </div>
            <p class="txt">
              Already have an account! <a href="/login">Login</a>
            </p>
        </div>
      
    </div>
</div>
