.wraper{
    margin-top: 80px;
}
.add-card{
    border-radius: 20px !important; 
    box-shadow: 4px 0 20px -5px rgba(0,0,0,.3)!important;
    margin-bottom: 1%;
    width: 100%;
    margin: 10px;
}
.next{
    margin-left: 10px;
}