<div class="wraper">
    <div class="row">
        <div class="col-md-10 add-card">
            <div class="card-body">
                <div class="row">

                    <div class="form-group col-md-12">
                        <label><b>Included</b></label>
                        <form class="row" [formGroup]="includesForm">
                            <div class="form-group col-md-6">
                                <label>Service</label>
                                <select class="form-control " formControlName="service">
                                  <option *ngFor="let service of services; let i = index" value="{{service.id}}">{{service.service}}</option>
                                </select>
                            </div>
                            <div class="form-group col-md-4">
                                <label>Description</label>
                                <input type="text" class="form-control" formControlName="description">
                            </div>
                            
                        </form>
                        <div class="spinner-border text-success" role="status" *ngIf="isLoading">
                            <span class="sr-only">Loading...</span>
                          </div>
                        <!-- <input class="form-control"  id="username" formControlName="username" type="text"  placeholder="Enter Username"> -->
                          <button class="btn btn-success" *ngIf="!isLoading" (click)="addInclude(includesForm.value)">+</button>
                          <button *ngIf="!passed_itinerary && !isLoading" class="btn btn-success next"  (click)="next()">Next</button>
                          <button *ngIf="passed_itinerary  && !isLoading" class="btn btn-success next"  (click)="newSave()">Save</button>
                      </div>
                      <div class="form-group col-md-12">
                          <p><b>Added Includes</b></p>
                        <ul>
                            <li *ngFor="let include of includes; let i=index">{{include.description}}</li>
                        </ul>
                      </div>


                </div>
              </div>
        </div>

    </div>
          
</div>
