<div class="wraper">
    <div class="row">
        <div class="col-md-5 report-card">
            <div>
                <div class="card-body">
                  <h5 class="card-title">Number of itineraries</h5>
                  <ul>
                      <li>All airport transfers and assistance</li>
                      <li>Accommodation on safari on Full board basis </li>
                      <li>Private transport in a 4x4 tourist converted jeeps</li>
                      <li>Services of an English speaking driver-guides</li>
                      <li>City Tour of Kigali with a visit Genocide Museum</li>
                  </ul>
                </div>
              </div>
        </div>
        <div class="col-md-5 report-card">
            <div>
                <div class="card-body">
                  <h5 class="card-title">Excluded</h5>
                  <ul>
                    <li>Meet and greet with assistance at the Airport</li>
                    <li>Accommodations only the most deluxe hotels, lodges and selected camps selected for the programme</li>
                    <li>Services of an Expert English speaking driver-guide</li>
                    <li>Return flights to Masai Mara</li>
                  </ul>
                </div>
              </div>
        </div>
    </div>
          
</div>
