<div class="wraper">
    <div class="row">
        <div class="col-md-10 add-card">
            <div class="card-body">
                <div class="row">

                  <div class="form-group col-md-12">
                    <h5 class="card-title">Day</h5>
                    <!-- <form [formGroup]="loginForm" (ngSubmit)="onSubmitlogin(loginForm.value)" class="row"> -->
                    <form class="row" [formGroup]="dayForm">
                      <div class="form-group col-md-5">
                        <label>Number</label>
                        <input class="form-control" formControlName="number" type="number">
                            <!-- <input type="text" class="form-control"> -->
                      </div>
                      <div class="form-group col-md-5">
                          <label>Title</label>
                          <input class="form-control"  id="title" formControlName="title" type="text"  placeholder="Enter Title">
                              <!-- <input type="text" class="form-control"> -->
                      </div>
                      <div class="form-group col-md-5">
                          <label for="username">Date</label>
                          <input class="form-control"  id="date" formControlName="date" type="date">
                              <!-- <input type="date" class="form-control"> -->
                      </div>
  
                      <div class="form-group col-md-12">
                        <label for="username">Summary</label>
                        <!-- <input class="form-control"  id="username" formControlName="username" type="text"  placeholder="Enter Username"> -->
                          <textarea class="form-control" name="" id="" cols="30" rows="4" formControlName="summary" ></textarea>
                      </div>
                      
                    </form>
                    <div class="spinner-border text-success" role="status" *ngIf="isLoading">
                      <span class="sr-only">Loading...</span>
                    </div>
                    <button class="btn btn-lg btn-success" *ngIf="!isLoading && !passday" (click)="addDay(dayForm.value)">Save</button>
                    <button class="btn btn-lg btn-success" *ngIf="!isLoading && passday" (click)="editDay(dayForm.value)">Update</button>
                    <button class="btn btn-lg btn-default" *ngIf="!isLoading && passday" (click)="cancel()">cancel</button>
                    </div>


                </div>
              </div>
        </div>

    </div>
    <router-outlet></router-outlet>
          
</div>
