.wraper{
    margin-top: 80px;
}
.add-card{
    border-radius: 20px !important; 
    box-shadow: 4px 0 20px -5px rgba(0,0,0,.3)!important;
    margin-bottom: 1%;
    width: 100%;
    margin: 10px;
}
.logo{
    width: 100px;
    height: 100px;
}
.contact-card{
    border-radius: 20px !important; 
    box-shadow: 4px 0 20px -5px rgba(0,0,0,.3)!important;
    margin-bottom: 1%;
    width: 30%;
    padding: 10px;
    margin-top: 10px;
}
#upload-btn
{
    margin-top: 15px;
}