<div class="wraper">
    <div class="row">
        <div class="col-md-12 add-card">
            <div class="col-md-12">

                <div class="col-md-4">
                  <!--  <div class="logo">
                        <img class="img-fluid" src="https://www.tatizua.rw/assets/logo.png" alt="">
                    </div> -->
                    
                    <div >
                        <img class="img-fluid" src="{{company.logo}}">
                    </div>

                    <div *ngIf="shortLink"> 
                    <a><img class="img-fluid" src="{{shortLink}}" alt="">{{shortLink}}</a>
                   </div> 
                   <div  *ngIf="loading"> 
                        <h3>loading...</h3> 
                    </div> 

                </div>
                <div class="form-group col-md-4">
                            
                    <div class="text-center"> 
                        <input class="form-control" type="file" 
                                (change)="onChange($event)"> 
                      
                        <button (click)="onUpload()"  
                            class="btn btn-success" id="upload-btn"> 
                            Upload 
                        </button> 
                    </div> 

                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-12">
                    
                    <form class="row" action="" [formGroup]="profileForm">
                        <div class="form-group col-md-4">
                            <label for="username">Name</label>
                            <input type="text" class="form-control" formControlName="name" required >
                        </div>
                        <div class="form-group col-md-4">
                            <label for="username">Email</label>
                            <input   type="text" class="form-control" formControlName="email" required ngModel email="true">
                            
                        </div>
                        <div class="form-group col-md-4">
                            <label for="username">Phone</label>
                            <input type="number" class="form-control" formControlName="phone" required>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="username">Website </label>
                            <input type="text" class="form-control"  formControlName="website" required>
                        </div>
                        <div class="form-group col-md-12">
  
                         <!--  <button  class="btn btn-lg btn-success" (click)="openEditor(company)">edit</button> |--><button class="btn btn-lg btn-success" type="submit" (click)="editCompany()">Save</button>
                          </div>
                    </form>
                  </div>
            </div>

            <div class="row">

                <div class="form-group col-md-12">
                    <label for="username"><b>Contact Person</b></label><br/>
                    <div class="contact-card" *ngFor="let contact of contacts; ">
                
                    <p>name:{{ contact.name }}</p>
                    <p>phone:(+250) {{contact.phone }}</p>
                    <p>email:{{contact.email }}</p>
                     <!--<button class="btn btn-lg btn-success" (click)="editContact(contact,contact.id)" >edit</button>

                        
                    
                       <a [routerLink]="['edit-contact/,contact.id']">
                          

                            <a href="dashboard/edit-contact/id">
                            <button class="btn btn-lg btn-success" >edit</button>
                            </a>-->
                        
                    </div>
                
                    <!--<a href="dashboard/add-contact">
                        <button class="btn btn-lg btn-success">+</button>
                    </a> -->
                </div>
               
            </div>
        </div>
   </div>
</div>

