<div class="card" id="card">
  <div class="card-body">
    <div class="row">
      <div class="form-group col-md-12">
        <div class="form-group col-md-4">Search by Date</div>
        <form class="row" [formGroup]="periodForm" >
          <div class="form-group col-md-4">
            <label >Start Date</label>
            <input type="date" class="form-control rounded" formControlName="startDate"  placeholder="start date"/>
          </div>
          <div class="form-group col-md-4">
            <label >End Date</label>
            <input type="date" class="form-control rounded" formControlName="endDate"  placeholder="end date"/>
          </div>
          <div class="form-group col-md-12">
            <button class="btn btn-lg btn-success"  type="submit" (click)="searchReport(periodForm.value)">Search</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="card">
    <div class="form-group col-md-12">
      <p class="total_counts">Total counts</p>
    </div>
    <div class="car-body">
        <table class="table table-borderless">
            <thead>
              <tr>
                <th scope="col">Number of itineraries</th>
                <th scope="col">Number of people </th>
                <th scope="col">Total cost</th>
                <th scope="col">Total Income</th>
                <th scope="col">Total Profit</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let itinerary of itineraries" >
                <th scope="row">{{itinerary.created_at}}</th>
                <td>{{itinerary.client}}</td>
                <td>{{itinerary.people}}</td>
                <td>{{itinerary.total_cost}}</td>
                <td>{{itinerary.cost}}</td>
                <td>{{itinerary.profit}}</td>
              </tr>
            </tbody>
        </table>
    </div>
    <!--<div class="btn">
        <button type="button" class="btn btn-success">Print report</button>
    </div>-->
</div>


<div class="card">
  <div class="form-group col-md-12">
    <p class="total_counts">Report</p>
  </div>
  <div class="car-body">
      <table class="table table-borderless">
          <thead>
            <tr>
              <th scope="col">Client Name</th>
              <th scope="col">Date Of Creation</th>
              <th scope="col">Total Cost</th>
              <th scope="col">Total Profit</th>
              <th scope="col">Total Income</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let report of reports" >
              <th scope="row"></th>
              <td>{{report.client}}</td>
              <td>{{report.start_date}}</td>
              <td>report.total_cost</td>
              <td>{{report.total_profit}}</td>
              <td>{{report.total_income}}</td>
            </tr>
          </tbody>
      </table>
  </div>
</div>