<div class="wraper">
    <div class="row">
        <div class="col-md-12 add-card">
            <table class="table table-hover">
                <thead>
                  <tr>
                    <th scope="col">Client</th>
                    <th scope="col">Title</th>
                    <th scope="col">Date of creation</th>
                    <th scope="col">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let itinerary of itineraries; let i = index">
                    <td>{{itinerary.client}}</td>
                    <td>{{itinerary.title}}</td>
                    <td>{{itinerary.created_at}}</td>
                    <td><button class="btn btn-light" (click)="edit(itinerary.id)">Edit</button>| <button class="btn btn-danger"  (click)="delete('itinerary', itinerary.id)">Delete</button></td> 
                  </tr>
                </tbody>
              </table>
        </div>

</div>
