<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand logo" href="">
      <img src="assets/logowhite.png" class="img-fluid" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about-us">About Us</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" href="/itinerary">Sample Itinerary</a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link" href="#wraper">Pricing</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/login">Login</a>
        </li>
        <li class="nav-item">
          <!-- <a class="nav-link" href="/signup">Signup</a> -->
          <a class="nav-link" href="https://forms.gle/JBkk2H9tAx7J6hi9A" target="_blank"><button class="btn btn-success">Request Demo</button></a>
        </li>
      </ul>
    </div>
  </nav>
<router-outlet></router-outlet>
<div class="footer">
  <div class="container">
    <div class="row">

      <div class="col-md-5">
        <div class="footer-logo">
          <a href="">
          <img class="img-fluid" src="assets/logowhite.png" alt="">
          </a>
        </div>
        
      </div>

      <div class="col-md-7">
        <div class="row">
          <div class="col-md-4 footer-cols">
            <p><b>COMPANY</b></p>
            <a [routerLink]="['/about-us']" class="company-link">
              <p >About us</p>
            </a>
            
            <p><a href="#wraper" class="company-link">Pricing</a> </p>
          </div>
          <div class="col-md-4 footer-cols text-center">
            <p><b>HELP</b></p>
            <p> <a href="tel:+250786684196" class="company-link">(+250) 786 684 196 </a></p>
            <p> <a href="mailto: team@tatizua.rw" class="company-link"> team@tatizua.rw </a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="sub-footer">
  <div class="row footer-row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <p class="rights">TuaSoft {{today | date:'yyyy'}} | All rights reserved</p>
    </div>
    <div class="col-md-4">
      <a class="company-link" href="https://www.tatizua.rw" target="_blank">
        <p class="rights">powered by Tatizua Solutions</p>
      </a>
    </div>
  </div>
 
</div>