.navbar{
    background-color: #2BBC84 !important;
    display: flex;
    //box-shadow: 4px 0 20px -5px rgba(0,0,0,.5)!important;
    padding-bottom: 10px;
    position: fixed;
    width: 100% !important;
    top: 0 !important;
    z-index: 99;
  }
.logo{
    width: 100px;
    height: 30px;
    padding-bottom: 40px;
}
.nav-link{
    color: white !important;
}
.footer{
    background-color: #4A4A4A;
    width: 100%;
    height: auto;
    padding-bottom: 5%;
}
.sub-footer{
    background-color:#363636;
    width: 100%;
    height: auto;
    color: white;
    padding-top: 20px;
}
.footer-logo{
    width: 100px;
    height: 80px;
    margin-top: 15%;
}
.footer-cols{
    color: white;
    margin-top: 15%;
}
.footer-row{
    width: 100%;
}
.rights{
    text-align: center;
    color: #AEAEAE;
}
.company-link {
    color: white;
    text-decoration: none;
}