.top{
    
    margin-top: 140px;
}
.padding-row{
    width: 100%;
    margin-top: 40px;
}
.rounded{
    width: 100% !important;
    border-radius: 20px !important;
}
.padding-title{
    
   padding-top: 40px;
}
p{
   
   padding-top: 20px;
}
.intro-desc{
    padding-left: 60px;
    margin-bottom: 20px;
}
.btn{
    border-radius: 25px;
    padding: 10px;
}
.col-md-6{
    width: 100%;
}
.rounded-img{
    width: 100% !important;
    height: 400px;
    background-image: url(../../../assets/tour2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    
    border-radius: 20px !important;
}

.rounded-imgs{
    width: 100% !important;
    height: 400px;
    background-image: url(../../../assets/tour1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    
    border-radius: 20px !important;
}
.black-div{
    background-color: rgba(34, 33, 33, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px !important;
    color: white;
    text-align: center;
    padding-top: 70px;
    padding-left: 30px;
    padding-right: 30px;
}
.trip-title{
    text-align: center;
    font-weight: 700;
} 
.card{
    border-radius: 20px !important; 
    box-shadow: 4px 0 20px -5px rgba(0,0,0,.3)!important;
}
.card-img-top{
    border-top-left-radius: 20px !important; 
    border-top-right-radius: 20px !important;
}

.carousel-control-prev{
    background-color: #2BBC84;
    width: 50px;
    height: 50px;
    margin-top: 40px;
    margin-left: 40px;
    
}
.carousel-control-next{
    background-color: #2BBC84;
    width: 50px;
    height: 50px;
    margin-top: 40px;
    margin-right: 40px;
}
.rounded-circle{
    width: 70px;
    height: 70px;
   
}
.carousel-item{
   color: black !important;
    width: 90% !important;
}
.testimonials{
    width:100%;
    height: auto;
    margin: auto;
    background-color: #F7F7F7;
}
.carousel-inner{
    text-align: center;
    width: 80%;
    margin: auto;
    background-color: #F7F7F7;
    padding:40px;
}
.link{
    font-weight: 700;
    text-decoration: none;
}
.link:hover{
    color: #2BBC84;
}
.title{
    text-align: center;
    font-weight: 700;
    color: black;
} 
.intro-txt{
    text-align: center;
    }

.services {
    background-color: #F7F7F7;
    text-align: center;
}

.title {
    margin-top: 3%;
}

i {
    font-size: 50px;
    color: #2BBC84;
}

.feature {
    text-align: center;
    height: 25rem;
    width: 20rem;
    margin-top: 5%;
    margin-bottom: 5%;
}

.feature-title {
    margin-top: 10%;
}

.service-title {
    margin-bottom: 3%;
}

.paragraph {
    margin-bottom: 5%;
    margin-top: 3%;
    font-size: 20px;
}
.fa-money{
    margin-left: 20px;
}
.head-img{
    width: 100%;
    height: 400px;
    
}
.head-img .img-fluid {
    display: block;
    width: auto;
    max-width: 100%;
    height: auto;
    max-height: 100%;
  }
  .center{
     margin: 0px auto;
  }