<div class="top">
    <div class="row padding-row">
        <div class="col-md-6">
            <div class="intro-desc">
                <h2 class="padding-title"data-aos="zoom-out-right" data-aos-duration="2000" data-aos-delay="300">BUILD ITINERARIES EASILY AND QIUCKLY.</h2>
                <h3 class="padding-title" data-aos="fade-up" data-aos-duration="2000" data-aos-delay="600">RESPOND FASTER TO CLIENTS' REQUESTS.</h3>
                <p class="paragraph">Building and costing professionally designed iteneraries in one place, with speed and accuracy.
                </p>
                <button type="button" class="btn btn-success" [routerLink]="['/about-us']" >Learn More</button>
            </div>
        </div>
        <div class="col-md-6 full-width head-img">
           
            <img src="assets/gorilla.jpg" class="rounded img-fluid" alt="...">
        </div>
    </div>
</div>
<div>
    <div class="row padding-row" id="itinerary">
        <div class="col-md-6 intro-desc">
            <div class="rounded-img">
                <div class="black-div">
                    <h3>TOUR OPERATORS & DMCs</h3>
                    <p>We bring ease to the time consuming process of itinerary creation through the automatic
                        creation of professionally designed itineraries with the personal touch needed to provide 
                        great customer service to tourists. All done by one click in the shortest amount of time 
                        possible to reach many tourists.
                    </p>
                    <!-- <a href="sample-itinerary" target="_blank"> <button type="button" class="btn btn-success">Learn More</button></a> -->
                </div>
                
            </div>
           
           
        </div>
        <div class="col-md-6 intro-desc">
            <div class="rounded-imgs">
                <div class="black-div">
                    <h3>ACCOMODATIONS, EXCURSIONS</h3>
                    <p>Through our platform, different service providers get the opportunity to work with tour companies 
                        to offer great service and have increased online presence and exposure to the market under 
                        an efficient manageable system.
                    </p>
                    <!-- <button type="button" class="btn btn-success" [routerLink]="['/trips']" >Learn More</button> -->
                </div>
                
            </div>
        </div>
    </div>
</div>

<div class="container">
    <h1 class="title service-title">SERVICES WE PROVIDE</h1>
    <p class="intro-txt">We introduce to you a digital platform with great itinerary creation and management services, 
       with additional profit margin analysis resources and support at an affordable cost. 
       We work to reduce your turnaround response time to clients.
    </p>
    <div class="row">
      <div class="col-md-4">
        <div class="card feature">
            <div class="card-body">
                <i class="fa fa-copy"></i>
              <h5 class="card-title feature-title">PROFESSIONALLY DESIGNED ITINERARY CREATION</h5>
              <p class="card-text">Create well detailed and interactive digital itineraries just by clicking.
                With our variety of excursions and hotels,
                you are able to select and create complex itineraries in the shortest time possible.</p>
            </div>
          </div>
      </div>
      <div class="col-md-4">
        <div class="card feature">
            <div class="card-body">
                <i class="fa fa-calculator"></i>
              <h5 class="card-title feature-title">AUTOMATED ITINERARY COSTING</h5>
              <p class="card-text">No more sheets and calculators, your itinerary is costed as you create it.
                   With just a single click you can send both the itinerary and price at the same time.
             </p>
            </div>
          </div>
      </div>
      <div class="col-md-4">
        <div class="card feature">
            <div class="card-body">
                <i class="fa fa-bar-chart"></i>
              <h5 class="card-title feature-title">SALES REPORTS</h5>
              <p class="card-text">Get detailed reports of how much you made from the itineraries you created.</p>
            </div>
          </div>
      </div>
    </div>
  </div>

<div id="wraper">
    <h1 class="title">OUR PRICING</h1>
    <p class="intro-txt">Our affordable all in one packages with unlimited access to TuaSoft resources.</p>
    <div class="row padding-row">
        <div class="col-md-6 intro-desc">
            <div class="card" >
                
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4">
                            <i class="fa fa-money"></i>
                            <h3 class="green-txt">35,000 RWF</h3>
                            
                        </div>
                        <div class="col-md-8">
                            <p><b>MONTHLY PACKAGE</b></p>
                            <p>Get unlimited access to all our service for an entire month.</p>
                            <p>Features include:</p>
                            <ul>
                                <li>Unlimited number of itineraries</li>
                                <li>Automated Costing</li>
                                <li>Unlimited Sales reports</li>
                                <li>1 user</li>
                                <li>Adding cutom excursions</li>
                                <li>On call support</li>
                            </ul>
                            <div class="row">
                               
                                <div class="col-md-8">
                                    <p>
                                    <!-- <a href="trip-details" class="green-txt link">REGISTER</a> -->
                                    </p>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                        
                </div>
            </div>
            <!-- <div class="card">
                <div class="card-body text-center">
                    <p class="text-center"><b>MONTHLY PACKAGE</b></p>
                    <i class="fa fa-money"></i>
                    <h3 class="greens-txt">35,000 RWF</h3>
                    <p>Get unlimited access to all our service for an entire month with on call support from our dedicated team.</p>
                    <a href="trip-details" class="green-txt link">REGISTER</a>
                </div>
          </div> -->
        </div>
        <div class="col-md-6 intro-desc">
            <div class="card" >
                
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-3">
                            <i class="fa fa-money"></i>
                            <h3 class="green-txt">350,000 RWF</h3>
                            
                        </div>
                        <div class="col-md-9">
                            <p><b>YEARLY PACKAGE</b></p>
                            <p>Save up with unlimited access to all our service for a whole year.</p>
                            <p>Features include:</p>
                            <ul>
                                <li>Unlimited number of itineraries</li>
                                <li>Automated Costing</li>
                                <li>Unlimited Sales reports</li>
                                <li>1 user</li>
                                <li>Adding cutom excursions</li>
                                <li>On call support</li>
                            </ul>
                            <div class="row">
                               
                                <div class="col-md-8">
                                    <p>
                                    <!-- <a href="" class="green-txt link">REGISTER</a> -->
                                    </p>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                        
                </div>
            </div>
        </div>
        <a class="nav-link center" href="https://forms.gle/JBkk2H9tAx7J6hi9A" target="_blank"><button class="btn btn-success">Request Demo</button></a>
    </div>
</div>


    <!-- <div class="testimonials">
       
                <div>
                   
                    <div class="carousel slide" id="carouseIndicators" data-ride="carousel">
                        
                        <ol class="carousel-indicators mb-0">
                            <li class="active" data-target="#carouseIndicators" data-slide-to="0"></li>
                            <li data-target="#carouseIndicators" data-slide-to="1"></li>
                            <li data-target="#carouseIndicators" data-slide-to="2"></li>
                        </ol>


                        
                        <div class="carousel-inner">
                           
                            <div class="carousel-item active">
                                <div class="media"><img class="rounded-circle img-thumbnail" src="https://res.cloudinary.com/mhmd/image/upload/v1579676165/avatar-1_ffutqr.jpg" alt="" width="75">
                                    <div class="media-body ml-3">
                                        <blockquote class="blockquote border-0 p-0">
                                            <p class="font-italic lead"> <i class="fa fa-quote-left mr-3 text-success"></i>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                            <footer class="blockquote-footer">Someone famous in
                                                <cite title="Source Title">Source Title</cite>
                                            </footer>
                                        </blockquote>
                                    </div>
                                </div>
                            </div>

                            <div class="carousel-item">
                                <div class="media"><img class="rounded-circle img-thumbnail" src="https://res.cloudinary.com/mhmd/image/upload/v1579676165/avatar-3_hdxocq.jpg" alt="" width="75">
                                    <div class="media-body ml-3">
                                        <blockquote class="blockquote border-0 p-0">
                                            <p class="font-italic lead"> <i class="fa fa-quote-left mr-3 text-success"></i>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                            <footer class="blockquote-footer">Someone famous in
                                                <cite title="Source Title">Source Title</cite>
                                            </footer>
                                        </blockquote>
                                    </div>
                                </div>
                            </div>

   
                            <div class="carousel-item">
                                <div class="media"><img class="rounded-circle img-thumbnail" src="https://res.cloudinary.com/mhmd/image/upload/v1579676165/avatar-2_gibm2s.jpg" alt="" width="75">
                                    <div class="media-body ml-3">
                                        <blockquote class="blockquote border-0 p-0">
                                            <p class="font-italic lead"> <i class="fa fa-quote-left mr-3 text-success"></i>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                            <footer class="blockquote-footer">Someone famous in
                                                <cite title="Source Title">Source Title</cite>
                                            </footer>
                                        </blockquote>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <a class="carousel-control-prev" href="#carouseIndicators" role="button" data-slide="prev">
                            <i class="fa fa-angle-left text-lg white-txt"></i>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next " href="#carouseIndicators" role="button" data-slide="next">
                            <i class="fa fa-angle-right text-lg white-txt"></i>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
            
    </div> -->


