
<div class="row" id="top">
    <div class="form-group col-md-12">
        <h4 *ngIf="!edit"  class="card-title" >Add contact person</h4>
        <h4  *ngIf="edit" class="card-title" >Edit contact person</h4>
    </div>
    <div class="form-group col-md-6">
        <div class="alert alert-secondary" role="alert" *ngIf="message">
           {{message}}
        </div>
    </div>

    <div class="col-md-12">
        <form class="row"  [formGroup]="addContactform">
            <div class="form-group col-md-4">
                <label>Name</label>
                <input type="text" placeholder="name" formControlName="name" class="form-control" >
                
            </div>
            <div class="form-group col-md-4">
                    <label>Email</label>
                    <input type="text" formControlName="email" class="form-control" />
            </div>
            <div class="form-group col-md-4">
                <label>Phone</label>
                <input type="text" formControlName="phone" class="form-control" />
            </div>

            <div class="form-group col-md-12">
                
                <button type="submit" class="btn btn-lg btn-success" *ngIf="!edit " (click)="addContact(addContactform.value)" >Add</button>
                <button  class="btn btn-lg btn-success" *ngIf="edit" (click)="editContact()">save</button>
              </div>
        </form>   
    </div>
</div>



<div class="card" style="margin-top: 2px;">
    <div class="form-group col-md-12">
      <p class="total_counts">contact person</p>
    </div>

    <div class="car-body table-responsive">
      
        <table class="table table-borderless table-hover">
            <thead>
              <tr>
                <th scope="col">name</th>
                <th scope="col">email</th>
                <th scope="col">phone</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let contact of contacts;">
              
                <td>{{ contact.name }} </td>
                <td>{{contact.email }}</td>
                <td> (+250) {{contact.phone }}</td>
                <td>
                  <button class="btn btn-success" (click)="openEditor(contact)" >edit</button> <!--|
                 <button data-target="#myModal"  class="btn btn-lg btn-danger" data-toggle="modal" (click)="openDelete(contact.id,contact.name)" >Delete</button>
                  <div id="myModal" class="modal fade" tabindex="-1">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title">Delete</h5>
                          <button type="button" class="close" data-dismiss="modal">close</button>
                        </div>
                        <div class="modal-body">
                          <p>Do you want to delete?</p>
                          {{delete_contact}}
                          <p class="text-secondary"><small>Hope you know what are you doing.</small></p>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                         <button type="button" class="btn btn-danger" (click)="delete('contact', delete_id)" data-dismiss="modal">Yes</button>
                        </div>
                      </div>
                   </div>
                  </div>-->
                </td>
              </tr>
            </tbody>
          </table>
      </div>
</div>