.top-row{
    margin-top: 90px !important;
    width: 95%;
    margin: auto;
}
.rounded{
    width: 97% !important;
    border-radius: 20px !important;
}
.img-circle{
    width: 100px;
    height: 100px;
    border-radius: 100%;
    float: left;
}
.lable{
    float: left;
    margin-top: 30px;
    
}

hr{
    width:80px;
    height: 2px;
    background-color:  #2BBC84;
    float: left;
    margin-top: 80px;
   
}
.nav{
    width: 60%;
    margin: auto;
    margin: 0px auto;
   
}
.nav-link{
    color: black !important;
}
.lable-desc{
    margin-left: 17px;
}
.label-container{
    width: 100%;
    height: auto;
    border: 1px solid #2BBC84;
    border-radius: 10px;
    margin-bottom: 40px;
    padding: 30px;
}
.info-container{
    width: 100%;
    height: auto;
    border: 1px solid #2BBC84;
    margin-bottom: 40px;
    padding: 30px; 
    border-radius: 20px !important; 
    box-shadow: 4px 0 20px -5px rgba(0,0,0,.3)!important;
    

}

.daily{
    width: 100px;
    height: 5px;
    background-color: #2BBC84;
    margin-bottom: 30px;
    margin-left: 25%;
}
.info{
    width: 100px;
    height: 5px;
    background-color: #2BBC84;
    margin-bottom: 30px;
    margin-left: 46%;
}
.map{
    width: 100px;
    height: 5px;
    background-color: #2BBC84;
    margin-bottom: 30px;
    margin-left: 62%;
}
.includes-container{
    width: 100%;
}
.includes-card{
    width: 100%;
    margin-bottom: 30px;
}
ul{
    margin-left: 30px;
}
.card{
    border-radius: 20px !important; 
    box-shadow: 4px 0 20px -5px rgba(0,0,0,.3)!important;
    margin-bottom: 1%;
    width: 100%;

}
.excluded{
    margin-left: 30px;
}
.inner-data{
    width: 100%;
    height: auto;
    border: 1px solid #2BBC84;
    margin-bottom: 40px;
    padding: 20px; 
    border-radius: 20px !important; 
   
}
.data-img{
    width: 90%;
    height: 200px;  
}

.data-title{
    text-align: center;
    margin-bottom: 10px;
}
.nav-link:focus{
    background-color: #2BBC84 !important;
    color: white !important;
    border-radius: 5px;
}
.nav-link.active{
    background-color: #2BBC84 !important;
    color: white !important;
    border-radius: 5px;

}
.info-card{
    width:30%;
    background-color:white !important;
    border-radius: 20px !important; 
    margin-top: 1%;

 
}
.head{
    width: 100%;
    height: 600px;
    background-image: url(https://d3hne3c382ip58.cloudfront.net/files/uploads/bookmundi/resized/countrybanner/travelling-in-rwanda-tours-and-vacation-packages-1503894676-1920X700.jpg);
    border-radius: 10px !important; 
    margin-bottom: 1%;
    box-shadow: 4px 0 20px -5px rgba(0,0,0,.3)!important;

}
.logo{
    width: 100px;
    height: 100px;
}
#overview{
    text-align: center;
}
.summary{
    text-align: center;
}