<div class="wraper">
    <div class="row">
        <div class="col-md-10 add-card">
            <div class="card-body">
                <div class="row">

                    <div class="form-group col-md-12">
                        <label><b> Excluded</b></label>
                        <form class="row" [formGroup]="excludesForm">
                            <div class="form-group col-md-4">
                                <label><b> Description</b></label>
                                <input type="text" class="form-control" formControlName="description">
                            </div>
                           
                            
                        </form>
                        <div class="spinner-border text-success" role="status" *ngIf="isLoading">
                            <span class="sr-only">Loading...</span>
                          </div>
                        <!-- <input class="form-control"  id="username" formControlName="username" type="text"  placeholder="Enter Username"> -->
                          <button class="btn btn-success" *ngIf="!isLoading"  (click)="addExclude(excludesForm.value)">+</button>
                          <button *ngIf="!passed_itinerary  && !isLoading" class="btn btn-success next"  (click)="next()">Next</button>
                          <button *ngIf="passed_itinerary  && !isLoading" class="btn btn-success next"  (click)="newSave()">Save</button>
                      </div>
                      <div class="form-group col-md-12">
                        <p><b>Added excludes</b></p>
                      <ul>
                          <li *ngFor="let exclude of excludes; let i=index">{{exclude.description}}</li>
                      </ul>
                    </div>



                </div>
              </div>
        </div>

    </div>
          
</div>
