<div class="row top-row">
    <div class="col-md-6">
        <img src="{{destination.picture}}" class="rounded" alt="...">
    </div>
    <div class="col-md-6">
        <h1 class="trip-title">{{destination.name}}</h1>
        <p class="grey-txt">
            <i class="fa fa-map-marker" aria-hidden="true"></i> {{destination.location}}
            </p>
        <div class="row top-sub-row">
            <div class="col-md-12">
                <p>{{destination.description}}</p>
            </div>
        </div>
        <a href="https://www.africanparks.org/the-parks/nyungwe?gclid=CjwKCAiAp4KCBhB6EiwAxRxbpH-8tf6dCl5SyMwXhgZXQiUzAg_UR8qwKoBvQVK8LJMIz35Ib1sRSBoCvBQQAvD_BwE" target="_blank"> <button type="button" class="btn btn-success btn-link">Learn more</button></a>
    </div>
</div>

<div class="padding-row">
    <h1 class="explore-title">Explore More</h1>
    <div class="row full-width">
        <div class="col-md-4 intro-desc">
            <div class="card">
                <div class="explore-img">
                    <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQtcMuz6GLZo9obzoiJ0FKIS4NopVw7Vscc1A&usqp=CAU" alt="Card image cap" height="250">
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <p class="text-center">Accomodation</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4 intro-desc">
            <div class="card">
                <div class="explore-img">
                    <img class="card-img-top" src="https://www.nyungwenationalpark.net/wp-content/uploads/2019/07/black-and-white-colobus-monkey-1024x682.jpg" alt="Card image cap" height="250">
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <p class="text-center">Animals</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4 intro-desc">
            <div class="card">
                <div class="explore-img">
                    <img class="card-img-top" src="https://www.nyungweforestnationalpark.org/wp-content/uploads/2019/07/Kamiranzovu-Waterfall-750x450.jpg" alt="Card image cap" height="250">
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <p class="text-center">Other activities</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
