<div class="row top-row">
    <div class="col-md-6">
        <img src="assets/tour.jpg" class="rounded" alt="...">
    </div>
    <div class="col-md-6">
        <h1 class="trip-title">A Long weekend get away trip</h1>
        <div class="row top-sub-row">
            <div class="col-md-4">
                <p class="green-txt"><b> ACTIVITIES</b></p>
                <ul>
                    <li>Hiking</li>
                    <li>Breakfast</li>
                    <li>Canopy Walk</li>
                    <li>Swimming</li>
                    <li>Bon fire</li>
                    <li>Food</li>
                </ul>
            </div>
            <div class="col-md-4">
                <p class="green-txt"><b> SCHEDULE</b></p>
                <ul>
                    <li>27th August 2020</li>
                    <li>28th August 2020</li>
                    <li>29th August 2020</li>
                </ul>
            </div>
            <div class="col-md-4">
                <p class="green-txt"><b> PRICE</b></p>
                <p><b> Rwandans</b> &nbsp; &nbsp; 5000 RWF</p>
                <p><b> East Africa</b> &nbsp; &nbsp;15000 RWF</p>
                <p><b> Foreigners</b>&nbsp; &nbsp; 50 USD</p>
            </div>
        </div>
        <button type="button" class="btn btn-dark">BOOK</button>
    </div>
</div>

<div class="padding-row">
    <h1 class="explore-title">Explore More</h1>
    <div class="row full-width">
        <div class="col-md-4 intro-desc">
            <div class="card" >
                <img class="card-img-top" src="assets/tour.jpg" alt="Card image cap">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-3">
                            <h1 class="green-txt">14</h1>
                            <h3>Feb</h3>
                            <h3 class="grey-txt">2020</h3>
                        </div>
                        <div class="col-md-9">
                            <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <div class="row">
                                <div class="col-md-4">
                                    <p class="grey-txt">
                                    <i class="fa fa-map-marker" aria-hidden="true"></i> Rusizi
                                    </p>
                                </div>
                                <div class="col-md-8">
                                    <p>
                                    <a href="trip-details" class="green-txt trip-link">LEARN MORE</a>
                                    </p>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                        
                </div>
            </div>
        </div>
        <div class="col-md-4 intro-desc">
            <div class="card" >
                <img class="card-img-top" src="assets/tour.jpg" alt="Card image cap">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-3">
                            <h1 class="green-txt">14</h1>
                            <h3>Feb</h3>
                            <h3 class="grey-txt">2020</h3>
                        </div>
                        <div class="col-md-9">
                            <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <div class="row">
                                <div class="col-md-4">
                                    <p class="grey-txt">
                                    <i class="fa fa-map-marker" aria-hidden="true"></i> Rusizi
                                    </p>
                                </div>
                                <div class="col-md-8">
                                    <p>
                                    <a href="" class="green-txt trip-link">LEARN MORE</a>
                                    </p>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                        
                </div>
            </div>
        </div>
        <div class="col-md-4 intro-desc">
            <div class="card" >
                <img class="card-img-top" src="assets/tour.jpg" alt="Card image cap">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-3">
                            <h1 class="green-txt">14</h1>
                            <h3>Feb</h3>
                            <h3 class="grey-txt">2020</h3>
                        </div>
                        <div class="col-md-9">
                            <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <div class="row">
                                <div class="col-md-4">
                                    <p class="grey-txt">
                                    <i class="fa fa-map-marker" aria-hidden="true"></i> Rusizi
                                    </p>
                                </div>
                                <div class="col-md-8">
                                    <p>
                                    <a href="" class="green-txt trip-link">LEARN MORE</a>
                                    </p>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                        
                </div>
            </div>
        </div>
    </div>
</div>
