.rounded{
    width: 97% !important;
    border-radius: 20px !important;
}
.top-row{
    margin-top: 140px !important;
    width: 90%;
    margin: auto;
}
ul{
    margin-left: 20px;
    color: #868585;
}
.top-sub-row{
    margin-top: 10%;
}
.btn{
    border-radius: 25px;
    padding-left: 40px;
    padding-right: 40px;
}
.padding-row{
    width: 90%;
    margin-top: 8% !important;
    margin-bottom: 8% !important;
    margin: auto;
}
.card{
    border-radius: 20px !important; 
    box-shadow: 4px 0 20px -5px rgba(0,0,0,.3)!important;
    margin-bottom: 2%;
}
.card-img-top{
    border-top-left-radius: 20px !important; 
    border-top-right-radius: 20px !important;
}
.trip-link{
    font-weight: 700;
    text-decoration: none;
}
.trip-link:hover{
    color: #2BBC84;
}
.explore-title{
    margin-bottom: 40px;
    font-weight: 600;
    text-align: center;
}
.trip-title{
    font-weight: 600;
}