<div class="wraper">
    <div class="row">
        <div class="col-md-10 add-card">
            <div class="card-body">
                <div class="row">

                    <div class="form-group col-md-12">
                        <label for="username"><b>Accommodation</b></label>
                        <form class="row" [formGroup]="accomodationsForm">
                            <div class="form-group col-md-4">
                                <label>Name</label>
                                <select class="form-control " formControlName="name">
                                  <option *ngFor="let accomodation of accomodations; let i = index" value="{{accomodation.name}}">{{accomodation.name}}</option>
                                </select>
                            </div>
                            <div class="form-group col-md-4">
                                <label for="name">Board Basis</label>
                                <select class="form-control " formControlName="board">
                                    <option value="BB">BB</option>
                                    <option value="FB">FB</option>
                                </select>
                            </div>
                            <div class="form-group col-md-4">
                                <label for="name">Type of room</label>
                                <select class="form-control" formControlName="room">
                                    <option value="Double bed">Double bed</option>
                                    <option value="Single bed">Single bed</option>
                                </select>
                            </div>
                            <div class="form-group col-md-4">
                                <label for="name">Checkin</label>
                                <input type="date" formControlName="checkin" class="form-control">
                            </div>
                            <div class="form-group col-md-4">
                                <label for="name">Chekout</label>
                                <input type="date" formControlName="checkout" class="form-control">
                            </div>
                            <div class="form-group col-md-4">
                                <label for="name">No of nights</label>
                                <input type="number" formControlName="nights" class="form-control">
                            </div>
                            <div class="form-group col-md-4">
                                <label>Service</label>
                                <select class="form-control " formControlName="service">
                                  <option *ngFor="let service of services; let i = index" value="{{service.id}}">{{service.service}}</option>
                                </select>
                            </div>
                        </form>
                        <div class="spinner-border text-success" role="status" *ngIf="isLoading">
                            <span class="sr-only">Loading...</span>
                          </div>
                        <!-- <input class="form-control"  id="username" formControlName="username" type="text"  placeholder="Enter Username"> -->
                          <button *ngIf="!passed_accomodation && !isLoading" class="btn btn-success" (click)="addAccomodation(accomodationsForm.value)">+</button>
                          <button *ngIf="!passed_itinerary && !isLoading" class="btn btn-success next"  (click)="next(id)">Next</button>
                          <button *ngIf="passed_accomodation && !isLoading" class="btn btn-success next"  (click)="save(passed_accomodation.id)">Save</button>
                          <button *ngIf="passed_itinerary && !passed_accomodation && !isLoading" class="btn btn-success next"  (click)="newSave()">Save</button>
                      </div>
                      <p><b>Added accomodations</b></p>
                    <div class="form-group col-md-12" *ngIf="dailyaccomodations">
                        <div *ngFor="let accomodation of dailyaccomodations; let i=index">
                            <p>Name: <b>{{accomodation.name}}</b></p>
                            <p>Board:{{accomodation.board}}</p>
                        </div>
                        
                    </div>

                </div>
              </div>
        </div>

    </div>
          
</div>
