<div class="wraper">
  <h1 class="title">Login</h1>
  <div class="row padding-row">
    <div class="col-md-6 intro-desc">
      <div class="card">
        <div class="card-body">
          <form
          [formGroup]="loginForm"
            (ngSubmit)="onSubmitlogin(loginForm.value)"
            class="row"
          >
            <div class="form-group col-md-12">
              <label for="username">Username</label>
              <input
                class="form-control"
                id="username"
                formControlName="username"
                type="text"
                placeholder="Enter Username"
                required
              />
            </div>
            <div class="form-group col-md-12">
              <label for="password">Password</label>
              <input
                class="form-control"
                id="password"
                formControlName="password"
                type="password"
                placeholder="password"
                required
              />
            </div>

            <div class="form-group col-md-6">
              <div class="spinner-border text-success" role="status" *ngIf="isLoading">
                <span class="sr-only">Loading...</span>
              </div>
              <button type="submit" class="btn btn-lg btn-success" (click)="logIn()" *ngIf="!isLoading">Login</button>
            </div>
          </form>
        </div>
      </div>
      <p class="txt">
        <!-- You don't have an account yet? <a href="/signup">Signup</a>  -->
        You don't have an account yet? <a href="https://forms.gle/JBkk2H9tAx7J6hi9A" target="_blank">Signup</a>
      </p>
    </div>
  </div>
</div>
