
.info-container{
    margin-top: 90px !important;
    width: 100%;
    height: auto;
    border: 1px solid #2BBC84;
    margin-bottom: 40px;
    padding: 30px; 
    border-radius: 20px !important; 
    box-shadow: 4px 0 20px -5px rgba(0,0,0,.3)!important;
    

}

.logo{
    width: 100px;
    height: 100px;
}
.btn{
    margin-left: 5px;
    margin-bottom: 20px;
}
i{
    margin-left: 20px;
    font-size: 20px;
}
i:hover{
    cursor: pointer;
}