<div class="info-container row">
  <div class="col-md-6">
    <p>
      <b>{{ itinerary.title }} </b>
    </p>
    <p>
      Client: <b>{{ itinerary.client }}</b>
    </p>
    <p>
      Client email: <b>{{ itinerary.email }}</b>
    </p>
    <p>
      No of people: <b>{{ itinerary.people }}</b>
    </p>
    <p><b> Contact Person </b></p>
    <p>{{ itinerary.host_contact.name }}</p>
    <p>(+250) {{ itinerary.host_contact.phone }}</p>
    <p>{{itinerary.host_contact.email }}</p>
    <p>
      <a href="{{itinerary.host.website }}" target="_blank"> {{itinerary.host.website }}</a>
    </p>
    <p><b> Costs </b></p>
    <p>
      Cost: <b>{{ itinerary.it_cost }} $</b>
    </p>
    <p>
      Markup: <b>{{ itinerary.markup_cost }} $ </b>
    </p>
    <p>
      Total cost: <b>{{ itinerary.total | number }} $</b>
    </p>
  </div>
    <div class="=col-md-6">
      <h5 class="card-title">Included</h5>
      <ul *ngFor="let include of itinerary.includes; let i = index">
        <li>
          {{ include.description }}
          
          <i class="fa fa-trash-o" aria-hidden="true" (click)="delete('include', include.id)"></i>
        </li>
      </ul>
      <button class="btn btn-success" (click)="addInclude(itinerary.id)">
        +
      </button>
   
      <h5 class="card-title">Excluded</h5>
      <ul *ngFor="let exclude of itinerary.excludes; let i = index">
        <li>
          {{ exclude.description }}
          
          <i class="fa fa-trash-o" aria-hidden="true" (click)="delete('exclude', exclude.id)"></i>
        </li>
      </ul>
      <button class="btn btn-success" (click)="addExclude(itinerary.id)">
        +
      </button>
    </div>
  
</div>


<p><b>Daily Information</b></p>
    <button class="btn btn-success" (click)="addDay(itinerary.id)">
      Add day
    </button>
<div class="row">
    <div class=" info-container col-md-12" *ngFor="let day of itinerary.days; let i = index">
      <p>
        <b>{{ day.date }} Day {{ day.number }}</b>
      </p>
      <p>
        <b>{{ day.title }}</b>
      </p>
      <p>
        {{ day.summary }}
      </p>
      <button
      class="btn btn-success"
      (click)="editDay(day)"
    >Edit</button>
      <div class="row">
          <div class="col-md-4">
            <p><b>Accomodation</b></p>
            <button class="btn btn-success" (click)="addAccomodation(day.id)">
              +
            </button>
            <div *ngFor="let accomodation of day.accomodations; let i = index">
              <h3>{{ accomodation.name }}</h3>
              <p>Room Type: {{ accomodation.room }}</p>
              <p>Board Basis: {{ accomodation.board }}</p>
              <p>No of Nights: {{ accomodation.nights }}</p>
              <p>Checkin: {{ accomodation.checkin }}</p>
              <p>Checkout: {{ accomodation.checkout }}</p>
              <button
                class="btn btn-success"
                (click)="editAccomodation(accomodation, day.id)"
              >
                Edit
              </button>
              <button class="btn btn-danger"  (click)="delete('accomodation', accomodation.id)">Delete</button>
            </div>
          </div>

       <div class="col-md-4">
        <p><b>Destinations</b></p>
        <button class="btn btn-success" (click)="addDestination(day.id)">
          +
        </button>
        <div *ngFor="let destination of day.destinations; let i = index">
          <h3>{{ destination.name }}</h3>
          <p class="grey-txt">
            <i class="fa fa-map-marker" aria-hidden="true"></i>
            {{ destination.location }}
          </p>
          <p>Distance: {{ destination.distance }} KM</p>
          <p>Duration of Travel: {{ destination.duration }} hrs</p>
          <p>Pickup Time: {{ destination.pickup }}</p>
          <button
            class="btn btn-success"
            (click)="editDestination(destination, day.id)"
          >
            Edit
          </button>
          <button class="btn btn-danger"  (click)="delete('destination', destination.id)">Delete</button>
        </div>
       </div>
      
      </div>
      
    </div>
    <button class="btn btn-success next"  (click)="preview(itinerary.id)">Preview Itinerary</button>
</div>
   
  

