/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

*{
    padding: 0px;
    margin: 0px;
}
h1,h2,h3,p,a,button,label {
    font-family: Montserrat;
}
.green-txt{
    color: #2BBC84;
}
.grey-txt{
    color: #AEAEAE;
    
}
.white-txt{
    color: white;
}
.full-width{
    width: 100%;
}